.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.3% 0 1.1%;

  @include tablets {
    justify-content: flex-start;
    padding-bottom: 0;
  }

  @include phones-x {
    padding-top: 21%;
  }
}

.hero__bottom-btns {
  display: flex;
  justify-content: center;
  
  @include tablets {
    display: none;
  }
}