.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-right: 5%;

  @include desktop {
    margin: 0 2.5%;

    &:first-child {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
  padding: 0 20px 10px;

  &:hover {
    color: #ff9a00;
    border-bottom: 6px solid #ff9a00;
  }
}