.middle-section {
  position: relative;

  &__triangles-top {
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 100%;

    @include desktop {
      height: 70px;
    }

    @include phones-x {
      height: 33px;
    }
  }
}