.scroll-down-btn {
  font-weight: 600;
  font-size: 18px;
  background: transparent;

  &:after {
    content: "";
    display: inline-flex;
    background: svg-load('arrow-down.svg', fill=$text-color, width=13px, height=13px) center center no-repeat;
    width: 13px;
    height: 13px;
    margin-left: 20px;
  }

  &:hover {
    opacity: .5;
  }
}