.thumbs {
  display: flex;
  justify-content: flex-end;
}

.thumbs__item {

  &.active, &:hover {
    outline: 2px solid #dc9322;
    z-index: 1;
  }
}

.thumbs__link {
  display: flex;
}

.thumbs__pic {
  max-height: 111%;
}