.triangles {
  display: flex;

  &_pointed-down {
    transform: rotate(180deg);
  }
}

.triangles__shape {
  fill: #fff;
  height: 100%;

  &_position_left {
    width: 78%;

    @include desktop {
      width: 81.5%;
    }
  }

  &_position_right {
    width: 22%;

    @include desktop {
      width: 18.5%;
    }
  }
}