.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-weight: 600;
  font-size: 18px;
  color: rgba($text-color, .5);
  text-align: right;
  margin-bottom: 20px;
  margin-right: 56px;
  padding-top: 12px;
}

.userinfo__name {
  color: $text-color;
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
  flex-basis: 427px;
}