.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__avatar {
  margin-bottom: 59px;
}

.user__avatar-style {
  width: 200px;
  height: 200px;
  border: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.user__data {
  width: 100%;
}

.user__data-row {
  font-weight: 600;

  & td {
    padding-top: 20px;
  }
}

.user__data-title {
  opacity: .5;
}